@import url(style.css);
#products {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.product {
    width: 24rem;
    height: 44rem;
    margin: 0.5rem;
    border-style: solid;
    border-width: 3px;
    border-color: var(--black);
}
.product-img {
    overflow: hidden;
    object-fit: fill;
    width: 23rem;
    padding: 1rem;
}
.product-title {
    font-size: var(--h5);
    padding: 1rem;
}
.product-vinylType {
    font-size: var(--h6);
    padding-left: 1rem;
    padding-right: 1rem;
    color: darkgrey;
}
.product-artist {
    font-size: var(--h6);
    padding-left: 1rem;
    padding-right: 1rem;
    color: darkgrey;
}
.product-price {
    font-size: var(--h5);
    padding-left: 1rem;
    padding-right: 1rem;
    color: black;
}
.product-genre {
    font-size: var(--h5);
    padding-left: 1rem;
    padding-right: 1rem;
}