@import url(products.css);
html,body,*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 62.5%;
}
/*put images in public folder*/
:root {
  --light-blue: #2998ff;
  --white: #ffffff;
  --green: #469f4f;
  --gold: #dae396;
  
  /*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.250rem;
  --h5: 1.850rem;
  --h6: 1.500rem;
  --h7: 1.250rem;
  
  /*Intentions*/
  --primary: var(--white);
  --secondary: var(--black);
}
.main-header {
  text-align: center;
  font-size: var(--h1);
  padding: 2rem;
  margin-left: auto;
  margin-right: auto;
  font-style: italic;
  font-family: 'Lora', serif;
  position: relative;
  background-color: red;
}
#products {
  box-shadow: 1rem 2rem 0.25rem; 
  display: flex;
  flex-wrap: wrap;
  align-content: space-evenly;
}


h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
