@import url(products.css);
@import url(buttons.css);
html,body,*{
  margin:0;
  padding:0;
  box-sizing: border-box;
  font-size: 62.5%;
}
/*put images in public folder*/
:root {
  --light-blue: #2998ff;
  --light: #f4f4f4;
  --dark: #1c1c1c;
  --green: #469f4f;
  --sandy: #fffecc;
  --golden: goldenrod;
  --blood: rgb(235, 84, 84);
  --yellow: yellow;
  --pink: pink;
  
  /*Typography*/
  --h1: 7.594rem;
  --h2: 5.063rem;
  --h3: 3.375rem;
  --h4: 2.250rem;
  --h5: 1.850rem;
  --h6: 1.500rem;
  --h7: 1.250rem;
  
  /*Intentions*/
  --primary: var(--light);
  --secondary: var(--dark);
  --tertiary: var(--green);
  --quarternary: var(--pink);
  --quinary: var(--blood);
}
.light {
  background-color: var(--primary);
  color: var(--tertiary);
  --productBorderColor: var(--tertiary);
  --productBackgroundColor: var(--tertiary);
  --buttonBackgroundColor: var(--primary);
  --buttonBorderColor: var(--tertiary);
  --buttonTextColor: var(--secondary);
  --productTextColor: var(--secondary);

}
.dark {
  background-color: var(--secondary);
  color: var(--secondary);
  --productBorderColor: var(--tertiary);
  --productBackgroundColor: var(--secondary);
  --buttonBackgroundColor: var(--secondary);
  --buttonBorderColor: var(--tertiary);
  --buttonTextColor: var(--primary);
  --productTextColor: var(--primary);
}
.main-header-text {
  text-align: center;
  font-size: var(--h1);
  font-family: 'Cabin', sans-serif;
}
.main-header {
  padding: 1rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #fffecc;
  border-bottom: 1rem;
  border-bottom-style: solid;
  border-width: 3px;
  border-bottom-color: var(--black);
  border-color: var(--black);
  width: 50 rem;
  position: relative;
  display: flex;
  justify-content: center;
}
.main-description {
  font-size: var(--h4);
}
.mainBatPicture {
  max-width: 20rem;
  max-height: 20rem;
}
h1 {
  font-size: var(--h1);
}
h2 {
  font-size: var(--h2);
}
h3 {
  font-size: var(--h3);
}
h4 {
  font-size: var(--h4);
}
h5 {
  font-size: var(--h5);
}
h6 {
  font-size: var(--h6);
}
h7 {
  font-size: var(--h7);
}